@font-face{
font-family: 'BasicTitle';
src: url('../fonts/basictitlefont.ttf') format('truetype');
}

html{
	background: #646361;
	font-family: 'BasicTitle';
}

h1{
	font-size: 6em;
	color: #fff;
	margin: 0.5em;
	text-align: center;
}

h2{
	font-size: 6em;
	padding: 42px;
}

.menu{
	display: none;
}

.mobile-menu{
	background: #012C56;
	color: #fff;
	font-size: 2em;
	text-align: center;
	border-top: 1px solid #fff;
}

.mobile-menu h3{
	font-size: 2.5em;
	padding: 30px;
	border-bottom: 1px solid #aaa;
}

li{
	padding: 24px 0px;
	border-bottom: 1px solid #aaa;
}

li a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
}

.crissy{
	width: 100%;
}

.box{
	width: 100%;
	height: 50em;
	color: #646361;
	padding-top: 3em;
}

.boxContainer{
	width: 90%;
	background: #fff;
	margin: auto;
}

#about{
	background: #AADEC9;
}

#resume{
	background: #FCED4A;
}

#portfolio{
	background: #FE9F5A;
}

#contact{
	background: #FED3B7;
}